################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/ToDoApi/bin/
/ToDoApi/obj/
/ToDoApi/ToDoApi.xml
/Infrastructure/bin
/Infrastructure/obj
